<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
</head>
<body>
<h1>Bienvenue dans ma page d’accueil</h1>
<h2> Qu'est-ce que Symfony</h2>
<p>Symfony est un ensemble de composants PHP, un framework d'application Web,
une philosophie et une communauté, tous travaillant ensemble en harmonie.
</p>
</body>
</html>